@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
body{
    background: rgb(29, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.menu{
    z-index: 4;
    background: rgb(29, 27, 27);
    box-shadow: inset 0px 0px 5px 3px rgb(0, 0, 0);
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.riot-logo img{
    position: absolute;
    right: 86%;
    bottom: 20%;
    width: 50px;
    filter: grayscale(0);
    transition: ease-in-out all 0.5s;
}
.riot-logo img:hover{
    filter: grayscale(1);
    transition: ease-in-out all 0.5s;
}
.button-bar{
    margin-top: 26px;
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.button{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.button:hover{
    border-bottom: 2px solid gray;
}
.desplegable{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.desplegable a{
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    gap: 10px;
}
.links{
    width: 80px;
    background: rgb(41, 41, 41);
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    position: absolute;
    margin-top: 35px;
    box-shadow: 0px 0px 5px;
}
.links a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1%;
    padding-left: 1%;
    text-decoration: none;
    color: white;
    width: 100%;
    transition: ease-in-out all 0.5s;
}
.links a:hover{
    background: gray;
    transition: ease-in-out all 0.5s;
}
.desplegable:hover .links{
    visibility: visible;
    opacity: 1;
}
/* .button2{
    --transform: rotate(0deg);
}
.button2:hover{
    --transform: rotate(180deg);
}
.flecha{
    transform: var(--transform);
    transition: transform .7s;
} */
.desplegable a .flecha{
    transition: 0.7s;
}
.desplegable a:hover .flecha{
    transform: rotate(180deg);
    transition: 0.7s;
}
.social-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
}
.social-button img{
    width: 30px;
    filter: grayscale(1);
    transition: ease-in-out all 0.5s;
}
.social-button img:hover{
    filter: grayscale(0);
    transition: ease-in-out all 0.5s;
}
.container{
    background: rgb(34, 34, 34);
    box-shadow: inset 0px 0px 5px 3px rgb(0, 0, 0);
    width: 80vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding-bottom: 2%;
}
.head-cont{
    width: 100%;
    height: 30vw;
    margin-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    gap: 10%;
    border-bottom: 5px solid gray;
    overflow: hidden;
}
.head-cont2{
    width: 100%;
    height: 30vw;
    margin-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    gap: 10%;
    border-bottom: 5px solid gray;
    overflow: hidden;
}
.head-bg{
    margin-top: 17%;
    z-index: 1;
    position: absolute;
    width: 99%;
    right: 0.5%;
    opacity: 0.6;
}
.title{
    margin-top: 25%;
    z-index: 3;
    font-size: 150px;
    color: white;
    text-shadow: 4px 4px 5px black;
}
.title2{
    z-index: 3;
    font-size: 100px;
    color: white;
    text-shadow: 4px 4px 5px black;
}
.worlds-cup{
    z-index: 2;
    width: 250px;
    position: absolute;
    top: 30%;
    left: 75%;
}
.worlds-song, .video{
    width: 60vw;
}
.worlds-song video, .video iframe{
    width: 100%;
    box-shadow: 0px 0px 5px black;
}
.worlds-song h1, .sub-cont-highlights h1{
    font-size: 50px;
    text-align: center;
    color: #d22a36;
    text-shadow: 4px 4px 5px black;
}
.sub-cont, .sub-cont-highlights{
    width: 60vw;
    padding-bottom: 10px;
}
.video iframe{
    height: 480px;
}
.sub-cont h1{
    column-span: all;
    text-align: center;
    color: #d22a36;
    text-shadow: 2px 2px 2px black;
    font-size: 50px;
}
.sub-cont p{
    -webkit-columns: 200px 2;
    -moz-column: 200px 2;
    column: 200px 2;
    column-gap: 25px;
    color: white;
    text-transform: none;
    font-size: 20px;
}
.sub-cont p img{
    width: 400px;
    height: 230px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px black;
}
/* Estilos reproductor video */
.fm-video {
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
}
.fm-video .vjs-control-bar {
	background: #F4F4F4;
	color: #2f2f2f;
}
.fm-video .vjs-play-progress,
.fm-video .vjs-volume-level {
	background: #858585;
}
.fm-video .vjs-slider {
	background: #2c2c2c;
}
.video-js:hover .vjs-big-play-button {
	background: rgba(255, 255, 255, 0.2);
}
.fm-video .vjs-big-play-button {
	background: rgba(255, 255, 255, 0.2);
	width: 60px;
	height: 60px;
    left: 52%;
    top: 49%;
	line-height: 60px;
	border-radius: 100%;
	border:none;
}
.fm-video .vjs-big-play-button:hover {
	background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 768px) {
    .social-bar{
        flex-direction: row;
        position: initial;
        right: 0;
        margin-left: 3%;
    }
    .container{
        width: 100vw;
    }
  }
@media (max-width: 480px) {
    .menu {
        padding-left: 2%;
        padding-right: 8%;
        gap: 4%;
        justify-content: space-evenly;
    }
    .riot-logo img{
        position: initial;
        width: 40px;
    }
    .button-bar{
        margin-top: 17px;
        margin-bottom: 17px;
        gap: 5%;
    }
    .button,.desplegable{
        font-size: 17px;
    }
    .social-bar{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 1%;
        gap: 0;
        padding: 0%;
    }
    .social-bar img{
        width: 20px;
    }
    .links{
        margin-top: 25px;
    }
    .links a{
        font-size: 17px;
    }
    .flecha{
        width: 13px;
        height: 13px;
    }
    .container{
        width: 100vw;
    }
    .head-cont,.head-cont2{
        height: auto;
        width: 100vw;
        margin-top: 20%;
        padding-bottom: 0%;
    }
    .title{
        margin-top: 5%;
        font-size: 60px;
    }
    .title2{
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 30px;
    }
    .worlds-cup{
        width: 150px;
        top: 20%;
        left: 60%;
    }
    .worlds-song, .video{
        width: 90vw;
    }
    .video iframe{
        height: 180px;
    }
    .worlds-song h1, .sub-cont-highlights h1{
        font-size: 30px;
    }
    .sub-cont, .sub-cont-highlights{
        width: 90vw;
    }
    .sub-cont h1{
        font-size: 30px;
    }
    .sub-cont p img{
        width: 300px;
        height: 170px;
    }
    .fm-video .vjs-big-play-button {
        width: 50px;
        height: 50px;
        left: 55%;
        top: 50%;
        line-height: 50px;
    }
  }

